@page "/books/details/{Id}"

@using Blazored = Blazored.Modal.Services

@inject IBookRepository bookRepository
@inject BookService bookService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
@inject SettingsService settings

@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <h4>Error - the requested book could not be found</h4>
}
else if (book == null)
{
    <LoadingMessage Message="Loading book details..." />
}
else
{
    @if (CurrentUrl != null)
    {
        <div>
            <BreadcrumbHeader CurrentUrl=@CurrentUrl />
        </div>
    }
    
    <div class="container mt-4">
        <div class="book-container">
            <div class="book-image">
                <img 
                    src="@($"{(!String.IsNullOrEmpty(book.CoverImageUrl) ? book.CoverImageUrl : AssetBaseUrl + "/books/book_cover.png")}")"  
                />
            </div>
            <div class="book-details">
                <div >
                    <div class="details-row">
                        <div>Title:</div>
                        <div>@book.Title</div>
                    </div>
                    <div class="details-row">
                        <div>Author:</div>
                        <div>
                            @if (book.Author == null)
                            {
                                <span class="text-muted">No author listed</span>
                            }
                            else
                            {
                                <a href="/authors/details/@book.AuthorId">@book.Author</a>
                            }
                        </div>
                    </div>
                    <div class="details-row">
                        <div>Published:</div>
                        <div>@book.YearPublished</div>
                    </div>
                    <div class="details-row">
                        <div>Category:</div>
                        <div>@book.Category</div>
                    </div>
                    <div class="details-row summary-row">
                        <div>Summary:</div>
                        <div class="book-summary">@book.Summary</div>
                    </div>
                    <div>
                        @if (LoggedIn)
                        {
                            <div class="mb-4 mt-2">
                                <button class="btn btn-success" @onclick="@(() => ShowConfirmAddress(book.Id))">
                                    Request This Book
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="mb-4">
                                <strong>You must be logged in to request this book. Log in <a href="/login"><u>here</u></a>, or register <a href="/register"><u>here</u></a>.</strong>
                            </div>
                        }
                    </div>
                    <div>
                        <div>
                            There is currently <strong>1</strong> copy of this book available to borrow
                        </div>
                    </div>
                    @if (ShowErrors)
                    {
                        <div>
                            <div class="mb-5">
                                <div class="alert alert-danger" role="alert">
                                    <p>@Error</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-info" @onclick="BackToBooks">
                Back to List of Books
            </button>
        </div>
    </div>

}

@code {
    [CascadingParameter] 
    public Blazored.IModalService Modal { get; set; }

    [Parameter]
    public string Id { get; set; }

    private Book book = new Book();
    private string CurrentUrl;

    private bool ShowErrors;
    private string Error = "";
    private bool LoggedIn = false;
    private string AssetBaseUrl;

    protected override async Task OnInitializedAsync()
    {
        int id = int.Parse(Id);
        var url = bookService.GetBooksApiEndpoint();
        book = await bookRepository.GetByIdAsync(url, id);

        await GetClaimsPrincipalData();

        CurrentUrl = navigationManager.Uri;

        AssetBaseUrl = settings.GetAssetBaseUrl();
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            LoggedIn = true;
        }
    }

    private void BackToBooks()
    {
        navigationManager.NavigateTo("/books/");
    }

    private async Task ShowConfirmAddress(int bookId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmAddress.BookId), bookId);
        parameters.Add(nameof(ConfirmAddress.Message), "This is where your book will be sent, so please make sure it is correct");

        var addressModal = Modal.Show<ConfirmAddress>("Please confirm your address", parameters);
        var result = await addressModal.Result;

        if (!result.Cancelled)
        {
            var requestResponse = (RequestResult)result.Data;

            if (requestResponse.Successful == false)
            {
                ShowErrors = true;
                Error = requestResponse.Error;
            }
            else 
            {
                ShowErrors = false;
                ToastService.ShowSuccess("Thanks, your book request will now be reviewed by our staff as soon as possible", "Request saved");
                await InvokeAsync(StateHasChanged);
            }
        }
    }
}
