@page "/books/"

@using BookwormsUI.Components.Paging
@inject IBookRepository bookRepository
@inject BookService bookService
@inject ICategoryRepository categoryRepository
@inject CategoryService categoryService
@inject NavigationManager navigationManager
@inject SettingsService settings
@inject AuthenticationStateProvider authenticationStateProvider
@using BookwormsUI.Extensions

@if (books == null)
{
    <LoadingMessage Message="Loading books..." />
}
else
{
    <div>
        <BreadcrumbHeader BreadcrumbElements=@BreadcrumbElements />
    </div>
    
    <div class="container pt-3 no-lr-padding">
        <div class="row">
            <div class="col-md-2">
                <div class="mt-2 mb-5">
                    <p class="sidebar-heading">Sort By</p>
                    <div class="btn-group w-100">
                        <button class="px-3 btn btn-light btn-sm dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                            @SortBySelected
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("titleAsc", "Title")'>
                                    Title
                                </NavLink>
                            </li>
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("authorAsc", "Author Name")'>
                                    Author Name
                                </NavLink>
                            </li>
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("yearPublishedDesc", "Published (new to old)")'>
                                    Published (new to old)
                                </NavLink>
                            </li>
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("yearPublishedAsc", "Published (old to new)")'>
                                    Published (old to new)
                                </NavLink>
                            </li>
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("recentlyAddedDesc", "Recently Added")'>
                                    Recently Added
                                </NavLink>
                            </li>
                            <li class="dropdown-item">
                                <NavLink @onclick='async () => await AddSort("nostPopularDesc", "Most Popular")'>
                                    Most Popular
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
                @if (categories != null) 
                {
                    <div class="sidebar-heading">
                        Category
                    </div>
                    <div class="w-100">
                        <ul class="pt-3 list">
                            <li class="list-items">
                                <NavLink @onclick="async () => await CategorySearch(0)"><strong>All Categories</strong></NavLink>
                            </li>
                        @foreach (var category in categories)
                        {
                            <li class="list-items">
                                <NavLink @onclick="async () => await CategorySearch(category.Id)">@category.Name</NavLink>
                            </li>
                        }
                        </ul>
                    </div>
                }
            </div>
            <div class="pl-5 col-md-10">
                <div class="py-2">
                    <AutoSearch 
                        OnSearchChanged="SearchChanged" 
                        ClearSearch=@ClearSearch 
                        Placeholder="Search book title"
                    />
                </div>
                @if (books.Count() < 1)
                {
                    <div class="pt-3 no-results">
                        <p>No books found for this search</p>
                    </div>
                    <div class="pt-3">
                        <Button Color="Color.Light" @onclick="async () => await ResetSearch()">
                            Clear search
                        </Button>
                    </div>
                }
                else
                {
                    <div class="container">
                        @foreach (var book in books)
                        {
                        <div class="book-row">
                            <div class="book-row-item">
                                <a href="/books/details/@book.Id">
                                    <img 
                                        src="@($"{(!String.IsNullOrEmpty(book.CoverImageUrl) ? AssetBaseUrl + book.CoverImageUrl : AssetBaseUrl + "/books/book_cover.png")}")"
                                        class="book-image"
                                    />
                                </a>
                            </div>
                            <div class="book-row-item">
                                <div class="book-title">
                                    <a href="/books/details/@book.Id">
                                        @book.Title
                                    </a>
                                    @if (@Role == "Administrator") // show an edit button for the admin user
                                    {
                                        <button type="button" @onclick="() => EditBook(book.Id)" class="btn btn-sm btn-outline-secondary ml-3">
                                            <i class="fas fa-user-edit"></i>&nbsp;
                                            Edit Book
                                        </button>
                                    }
                                </div>
                                <div class="book-author">
                                    <a href="/authors/details/@book.AuthorId">
                                        by @book.Author
                                    </a>
                                </div>
                                <div class="book-summary">
                                    @if (book.Summary.Length > 250)
                                        {  
                                            var summaryLength = book.Summary.Length;
                                            var summary = book.Summary.Substring(0, 248) + "...";
                                            @summary
                                        } else {
                                            @book.Summary
                                        }
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                }
            </div>
        </div>
            
        @if (books.Count() > 1)
        {
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <Paging metadata="metadata" Spread="2" SelectedPage="SelectedPage" />
                    </div>
                </div>
            </div>
        }

    </div>
}

@code {
    private List<Book> books;
    private List<Category> categories;
    private string url;
    private PagingMetadata metadata = new PagingMetadata();
    private ItemParameters itemParams = new ItemParameters();
    private string CurrentUrl;
    private List<string> BreadcrumbElements = new List<string>();
    private bool ClearSearch = false;
    private string SortBySelected = "Title";
    private string AssetBaseUrl;
    private string Role;

    protected override async Task OnInitializedAsync()
    {
        // check for any parameters in the querystring
        CheckForQuerystring();

        await SelectedPage();
        await GetCategories();

        // pass current url to breadcrumb component
        CurrentUrl = navigationManager.Uri;

        // get base url for image assets
        AssetBaseUrl = settings.GetAssetBaseUrl();

        // get claims principal data to check for an admin user
        await GetClaimsPrincipalData();
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Role = user.GetRoleFromPrincipal();
        }
    }

    private async Task SelectedPage(int page = 1)
    {
        itemParams.PageIndex = page;

        await GetData();
    }

    private async Task SearchChanged(string searchTerm = "")
    {
        itemParams.PageIndex = 1;
        itemParams.Search = searchTerm;
        
        await GetData();
    }

    private async Task GetData()
    {
        url = bookService.GetBooksApiEndpoint();
        var response = await bookRepository.GetAsync(url, itemParams);

        books = response.Items;
        metadata = response.Metadata;
    }

    private async Task GetCategories() 
    {
        url = categoryService.GetCategoriesApiEndpoint();
        categories = await categoryRepository.GetListAsync(url);
    }

    private async Task CategorySearch(int categoryId = 0) 
    {
        itemParams.CategoryId = categoryId;

        await GetData();
    }

    private async Task AddSort(string SortBy, string SortByName) 
    {
        itemParams.SortBy = SortBy;
        SortBySelected = SortByName;

        await GetData();
    }

    private async Task ResetSearch()
    {
        ClearSearch = true;
        await SearchChanged();
    }

    private void EditBook(int id = 0)
    {
        navigationManager.NavigateTo("/admin/books/edit/" + id);
    }

    public void CheckForQuerystring()
    {
        var queryStringParams = navigationManager.GetQueryStringCollection();

        // categoryId (expects int)
        if (queryStringParams["categoryId"] != null)
        {
            int number;
            bool convertible = Int32.TryParse(queryStringParams["categoryId"], out number);

            if (convertible)
            {
                itemParams.CategoryId = Convert.ToInt32(queryStringParams["categoryId"]);
            }

            // provide the BreadcrumbHeader component with specific elements to display,
            // because the URL will now have a querystring appended
            string[] elements = {"Books", "Category"};
            BreadcrumbElements.AddRange(elements);
        }

        // sortBy (expects string)
        if (queryStringParams["sortBy"] != "")
        {
            string sortByOption = queryStringParams["sortBy"];
            itemParams.SortBy = sortByOption;

            // show correct option on the 'sort by' dropdown
            var sortByName = sortByOption switch
            {  
                "titleAsc" => "Title",
                "authorAsc" => "Author Name",
                "yearPublishedDesc" => "Published (new to old)",
                "yearPublishedAsc" => "Published (old to new)",
                "recentlyAddedDesc" => "Recently Added",
                "mostPopularDesc" => "Most Popular",
                _ => "Title"
            };

            SortBySelected = sortByName;
            
            // provide the BreadcrumbHeader component with specific elements to display,
            // because the URL will now have a querystring appended
            if (BreadcrumbElements.Count == 0)
            {
                BreadcrumbElements.Add("Books");
            }
        }
    }

}
