@inject RequestService RequestService

@if (!String.IsNullOrWhiteSpace(Message))
{
    <div class="address-modal-message">
        @Message
    </div>
}

<div class="address-form">
    <EditForm Model="Address" OnValidSubmit="SaveAddress">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="first-name">First Name</label>
            <InputText Id="first-name" Class="form-control" @bind-Value="Address.FirstName" />
            <ValidationMessage For="@(() => Address.FirstName)" />
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <InputText Id="last-name" Class="form-control" @bind-Value="Address.LastName" />
            <ValidationMessage For="@(() => Address.LastName)" />
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <InputText Id="street" Class="form-control" @bind-Value="Address.Street" />
            <ValidationMessage For="@(() => Address.Street)" />
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <InputText Id="city" Class="form-control" @bind-Value="Address.City" />
            <ValidationMessage For="@(() => Address.City)" />
        </div>

        <div class="form-group">
            <label for="county">County</label>
            <InputText Id="county" Class="form-control" @bind-Value="Address.County" />
            <ValidationMessage For="@(() => Address.County)" />
        </div>

        <div class="form-group">
            <label for="post-code">Post Code</label>
            <InputText Id="post-code" Class="form-control" @bind-Value="Address.PostCode" />
            <ValidationMessage For="@(() => Address.PostCode)" />
        </div>
        <div class="form-group address-modal-buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
        </div>
    </EditForm>
</div>

@code {

    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter] 
    public int BookId { get; set; }

    private Address Address;

    protected override async Task OnInitializedAsync()
    {
        // set a default empty address initially
        Address = new Address{};

        // check if the user has an existing address saved
        var address = await RequestService.GetBorrowerAddressAsync();

        if (address != null)
        {
            // display the user's existing address if they have one saved
            Address = address;
        }
    }

    private async Task SaveAddress()
    {
        // save the address on the form
        var savedAddress = await RequestService.SaveBorrowerAddressAsync(Address);

        if (savedAddress != null)
        {
            // create new book request
            await CreateBookRequest(savedAddress);
        }
        else 
        {
            // address could not be saved
            var requestResult = new RequestResult {
                Successful = false,
                Error = "Sorry, your address could not be saved"
            };

            await ModalInstance.CloseAsync(ModalResult.Ok<RequestResult>(requestResult));
        }
    }

    private async Task CreateBookRequest(Address savedAddress)
    {
        var request = await RequestService.CreateBookRequestAsync(BookId, savedAddress);

        if (request != null)
        {
            if (request.Successful)
            {
                var requestResult = new RequestResult {
                    Successful = true,
                    Error = ""
                };

                await ModalInstance.CloseAsync(ModalResult.Ok<RequestResult>(requestResult));
            }
            else 
            {
                var requestResult = new RequestResult {
                    Successful = false,
                    Error = request.Error
                };

                await ModalInstance.CloseAsync(ModalResult.Ok<RequestResult>(requestResult));
            }
        }
        else 
        {
            var requestResult = new RequestResult {
                    Successful = false,
                    Error = request.Error
                };

            await ModalInstance.CloseAsync(ModalResult.Ok<RequestResult>(requestResult));
        }
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}
